/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.flex,
.flex-xs {
	display: flex;
	display: -webkit-flex;
}  

/************
ALIGN ITEMS
************/

.flex-ac {
	align-items: center;
	-webkit-align-items: center;
}

/***************
JUSTIFY CONTENT
***************/

.flex-jc {
	justify-content: center;
	-webkit-justify-content: center;
}

/***************
FLEX DIRECTION
***************/
.flex-dir-col,
.flex-xs-dir-col {
	flex-direction: column !important;
	-webkit-flex-direction: column !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.flex-xs {
		display: block;
	}

	.flex-sm {
		display: flex;
		display: -webkit-flex;
	}

	/***************
	FLEX DIRECTION
	***************/
	.flex-sm-dir-row {
		flex-direction: row;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.flex-md {
		display: flex;
		display: -webkit-flex;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.flex-lg {
		display: flex;
		display: -webkit-flex;
	}
}





